<launch>
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/>
  <!-- <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/> -->
  <arg name="robot_name" default="tb3_0"/>

  <arg name="bot_x_pos" default=" -1.0"/>
  <arg name="bot_y_pos" default="1.0"/>
  <arg name="bot_z_pos" default=" 0.0"/>
  <arg name="bot_yaw"   default=" 1.57"/>

  <group ns = "$(arg robot_name)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find adhoc_simulations)/tb3_urdf/turtlebot3_$(arg model).urdf.xacro" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg robot_name)" />
    </node>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name) -x $(arg bot_x_pos) -y $(arg bot_y_pos) -z $(arg bot_z_pos) -Y $(arg third_tb3_yaw) -param robot_description" />
  </group>

</launch>
