<launch>
  <arg name="open_rviz" default="false"/>
  <arg name="set_map_frame"  default="map"/>
  <arg name="map_file" default="$(find adhoc_simulations)/maps/mbc.yaml"/>
  <arg name="world_file" default="$(find adhoc_simulations)/worlds/mbc.building.world"/>
  <arg name="headless"  default="false"/>
  <arg name="gui"  default="true"/>
  <arg name="paused" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find adhoc_simulations)/models" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="false"/>
    <arg name="extra_gazebo_args" default="-z -10.0"/>
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" 
      args="$(arg map_file)">
    <param name="frame_id" value="$(arg set_map_frame)"/>
  </node>
  
  <!-- launch the overall visualization on rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find adhoc_simulations)/rviz/multi_caato_mbc_ff.rviz"/>

</launch>
